@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  body {
    @apply font-primary bg-primary text-gray-800 leading-loose scrollbar scrollbar-thumb-slate-300 scrollbar-track-transparent;
    /* @apply font-primary bg-primary text-gray-900 leading-loose; */
  }

  .h1 {
    @apply text-[45px] xl:text-[80px]  leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}
